<form
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  novalidate
  [formGroup]="form"
  class="card"
>
  <div class="card-body">
    <h2 class="text-center">CHANGE PASSWORD</h2>
    <ng-container
      *ngIf="
        form.invalid &&
        (formcontrol['password'].touched ||
          formcontrol['confirmPassword'].touched)
      "
    >
      <div *ngIf="passwordMatchError" class="alert alert-warning" role="alert">
        Passwords must match!
      </div>
    </ng-container>
    <div class="mb-2">
      <label for="password" class="form-label fw-semibold">Password</label>

      <div class="input-group">
        <input
          type="{{ passwordVisible ? 'text' : 'password' }}"
          id="password"
          class="form-control"
          formControlName="password"
        />

        <span class="input-group-text">
          <button
            class="bg-transparent border border-0 p-0"
            type="button"
            title="Toggle Password Visibility"
            (click)="togglePasswordVisibility()"
          >
            <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="mb-2">
      <label for="confirmPassword" class="form-label fw-semibold"
        >Confirm Password</label
      >

      <div class="input-group">
        <input
          type="{{ passwordVisible ? 'text' : 'password' }}"
          id="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
        />

        <span class="input-group-text">
          <button
            class="bg-transparent border border-0 p-0"
            type="button"
            title="Toggle Password Visibility"
            (click)="togglePasswordVisibility()"
          >
            <i class="bi bi-eye{{ passwordVisible ? '-slash' : '' }}"></i>
          </button>
        </span>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3 w-100"
      [disabled]="form.invalid"
    >
      Reset Password
    </button>
  </div>
</form>
