<div class="d-flex justify-content-between">
  <h3>{{ appRoutes.UPLOADER.label }}</h3>
  <div>
    <a [routerLink]="'/' + appRoutes.DASHBOARD.route" class="btn btn-secondary">
      <i class="bi bi-chevron-left"></i>Back
    </a>
  </div>
</div>
<hr />

<div class="mb-3">
  <input
    #inputFile
    id="formFileLg"
    class="form-control"
    type="file"
    multiple
    (change)="onChangeInputFile()"
  />
  <button
    type="button"
    class="my-2 btn {{
      filesToUpload.length === 0 ? 'btn-tertiary' : 'btn-primary'
    }}"
    [disabled]="filesToUpload.length === 0"
    (click)="startUpload()"
  >
    Start Upload
  </button>

  <ng-container *ngFor="let f of filesToUpload; let indexFile = index">
    <div class="d-flex align-items-center border p-2 w-100">
      <small class="me-2">{{ indexFile + 1 }}.{{ f.name }}</small>
      <div class="progress" style="width: 100%">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width]="f.uploadProgress"
        >
          {{ f.uploadProgress }}
        </div>
        <div></div>
      </div>
    </div>
  </ng-container>
</div>
